<?xml version="1.0"?>

<launch>
    <arg name="headless" default="false"/>
    <arg name="gui" default="true"/>

    <arg name="world" default="$(find simulation)/worlds/test2.world"/>
    
    <arg name="sdf" default="$(find simulation)/models/laser_drone/drone.sdf"/>

    <arg name="debug" default="false"/>
    <arg name="verbose" default="true"/>
    <arg name="paused" default="false"/>
    
    <param name="/use_sim_time" value="true" />

	<include file="$(find mavros)/launch/px4.launch">
		<arg name="fcu_url" value="udp://:14540@127.0.0.1:14557" />
	</include>
	
	<include file="$(find px4)/launch/posix_sitl.launch">
		<!--
        <env name="GAZEBO_IP" value="10.0.0.2" />
	    <env name="GAZEBO_MASTER_URI" value="10.0.0.2:12345" />
	    -->
	    <arg name="headless" value="$(arg headless)"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="world" value="$(arg world)" />
        <arg name="debug" value="$(arg debug)" />
        <arg name="verbose" value="$(arg verbose)" />
        <arg name="paused" value="$(arg paused)" />
        <arg name="sdf" value="$(arg sdf)" />
	</include> 
	
</launch>
